body{
	background-color: rgb(222,222,222);
}
.box{
	float: left;
	width: 30%;
	padding: 50px; 
	font size: 100px;
	font-family: Lato;
	font-weight: bold;
	letter-spacing: 10px;
	margin-top: 150px;
	color: darkgrey;
	resize: vertical;
}
.box h1{
	display: inline-block;
}
img{
	margin-left: 0px;
}

.foto{
	border-radius: 5px;
	padding:5px darkgrey;
}
* {
  box-sizing: border-box;
}

.last{
	border-bottom: 2px solid rgb(130,180,220);
}

 #menuToggle
{
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
}

#menuToggle a
{
  text-decoration: none;
  color: darkgrey;
  font-weight: 600;
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: lightblue;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
 }
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: darkgrey;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 400px;
  margin: -150px 0 0 -70px;
  padding: 50px;
  padding-top: 150px;
  
  background: white;
  list-style-type: none;
    transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
#navigatie{
	list-style-type: none;
	margin-left: -10px;
	padding: 10px;
	padding-left: 19%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: : 30px;
	font-family: Lato;
	font-style: bold;
	letter-spacing: 10px;
	background-color: white

}
#navigatie li{
	display: inline;
}
#navigatie h3{
	display: inline;
	color: darkgrey;
}
#navigatie a{
	
	padding: 14px 16px;
	background-color: white;
	text-decoration: none;
}
#navigatie h3:hover{
	color: lightblue;
}
.foto:hover{
	transition-duration: 0,4s;
	filter: blur(1px);
}

